<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963706864773-1gjf6kki9e0dg8hk69dd4qdbfm2juvhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963706864773-1gjf6kki9e0dg8hk69dd4qdbfm2juvhg</string>
	<key>API_KEY</key>
	<string>AIzaSyBDM1JvopwSWJ2phZdtQ-Wwqc9jBjvJ8Hc</string>
	<key>GCM_SENDER_ID</key>
	<string>963706864773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nyumba</string>
	<key>PROJECT_ID</key>
	<string>nyumba-app-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>nyumba-app-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963706864773:ios:007dd32d170e700493d5ec</string>
</dict>
</plist>